@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}
.stop-watch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    position: relative;
}

#stop-watch {
    width: 500px;
    margin: 1.5em auto 0;
}
#stop-watch h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
}
.brand-name {
    color: #006400;
}
.fas {
    color: #ffc107;
}
#stop-watch h3 {
    color: #fff;
    margin-top: 1em;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}

.control-btn {
    text-align: center;
}

.control-btn button {
    color: #fff;
    border: 0;
    cursor: pointer;
    width: 4em;
    height: 2em;
    margin: 0.5em;
    font-size: 1.5em;
    border-radius: 5px;
}
.start-btn {
    background-color: #006400;
}
.start-btn:hover {
    background-color: #072707;
    transition: 0.4s linear;
}
.stop-btn {
    background-color: #d35400;
}
.stop-btn:hover {
    background-color: #773103;
    transition: 0.4s linear;
}
.reset-btn {
    background-color: #f39c12;
}
.reset-btn:hover {
    background-color: #9c6102;
    transition: 0.4s linear;
}
.d-none {
    display: none;
}